tweet_catcher/tweets_followed/*.json
tweet_catcher/tweets_not_followed/*.json
lvp_cod_news/user.json
lvp_cod_news/errors/*.txt
lvp_cod_news/log/*.txt
lvp_cod_news/tweetlog/*.json
tweet_catcher/user.json
twitter_confessions/user.json
